.header {
    text-align: center;
    font-size: 50px;
    height: auto;
    width: auto;
    background-color: black;
    color: white;
    padding: 8px;
    opacity: 0.8;
}

.container {
    background-image: url(https://cdn11.bigcommerce.com/s-5luen2shhj/images/stencil/1280x1280/products/179/442/us_topo_bathy_borders_labels_mural_lg__55949.1560354152.jpg?c=2);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
}

.body_container {
    height: 250px;
    width: 150px;
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(228, 222, 222);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    opacity: 0.9;
}

h2, p {
    font-weight: bold;
    padding: 3px
}

.h2 {
    color: rgb(18, 105, 187);
}

button{
    display: flex;
    justify-content: center;
    border-radius: 6px;
    margin: 1px;
}
.edit_button {
    background-color: red;
    color: white;
}

.flight_button {
    background-color: blue;
    color: white;
}

.landed {
    background-color: green;
    color: white;
}

.edit {
    background-color: rgb(201, 221, 25);
}