.header {
    text-align: center;
    font-size: 50px;
    font-family: 'Black Ops One', cursive;
    height: auto;
    width: auto;
    background-color: black;
    color: white;
    padding: 8px;
    opacity: 0.8;
}

a {
    color: yellow;
    font-size: 14px;
    display: flex;
}

.container {
    background-image: url(https://cdn11.bigcommerce.com/s-5luen2shhj/images/stencil/1280x1280/products/179/442/us_topo_bathy_borders_labels_mural_lg__55949.1560354152.jpg?c=2);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;

}

.flight_card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.helo {
    height: 35px;
    width: 40px;
    display: flex;
    align-self: center;
    
}

.body_container {
    opacity: 0.9;
    height: fit-content;
    width: fit-content;
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(228, 222, 222);
    text-align: center;
}


h2, p {
    font-family: 'Roboto Mono';
    font-weight: bold;
    padding-bottom: 2px;
}
.number {
    color:rgb(3, 38, 194)
}

.key {
    color: rgb(61, 58, 58);
}

.value {
    color:rgb(0, 0, 0);
    padding-bottom: 20px;
}

.h2 {
    color: black;
    -webkit-text-fill-color: rgb(8, 44, 209); /* Will override color (regardless of order) */
    /* -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(66, 65, 65); */
    /* color: rgb(12, 23, 182);
    text-decoration: aqua; */
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    margin: 6px;
    font-family: 'Roboto Mono';
}


.flight_button {
    background-color: blue;
    color: white;
    box-shadow: 0px 0px 7px 0px rgba(255,241,241,0.75);
    cursor: pointer;
}

.landed {
    background-color: green;
    border: 1px solid black;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    cursor: pointer;
}

.edit_button {
    background-color: rgb(201, 221, 25);
    border: 1px solid black;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    cursor: pointer;
}

.form_container {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* align-content: center; */
    align-self: center;
    border: 2px solid white;
    padding: 6px;
    background-color: black;
    margin: 10px;
    border-radius: 5px;
    top: 10px;
    
}

.form {
    padding: 5px 20px;
}

.form fieldset {
    margin: 20px 0;
}

